:root {
  --white-color: #ffffff;
  --level1-background: #181823;
  --primary-font: "Roboto", sans-serif;
}

body {
  font-family: var(--primary-font);
  background-color: var(--white-color);
  font-weight: 500;
  color: var(--slate-color);
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.munu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.hero {
  background-color: var(--level1-background);
}


.hero-header {
  font-weight: 700;
  font-size: 78px;
  line-height: 94px;
  display: flex;
  align-items: center;

}

.hero-paragr {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  display: flex;
  align-items: center;

  color: var(--white-color);
}
